body {
	font-family: 'Nunito Sans', sans-serif;
	margin-bottom: 60px;
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
/*
.section h1 {
	padding-top: 200px;
}
*/

 ul.nav li.dropdown:hover ul.dropdown-menu {
display: block;
}

.parallax {
	  /* The image used */
	background-image: url(images/celia-sun-XSzgadZ8fbU-unsplash.jpg);

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
	background-size: cover;
	/*background-image: url(images/celia-sun-XSzgadZ8fbU-unsplash.jpg);*/
}

.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

p {
	font-size: 1.5rem;
}

.nav a {
	font-size: 1.5rem;
}



.navbar {
	font-size: 1.5rem;
	min-height: 55px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbar-fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
	background-color: #f5f5f5;
}



